@use "../../Styles/partials/fonts" as *;
@use "../../Styles/partials/mixins" as *;
@use "../../Styles/partials/variables" as *;

.paymentHistory {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0rem 1rem 3rem;

    @include tablet {
        padding: 0rem 0rem 2rem;
    }

    @include desktop {
        padding: 0rem 0rem 4rem;
    }

    &__container {
        width: 100%;
        display: flex;
        flex-direction: column;
        min-height: 300px;

        @include tablet {
            width: 70%;
            min-height: 400px;
        }

        @include desktop {
            min-height: 500px;
        }

        @include xl-desktop {
            min-height: 700px;
        }
    }

    &__title {
        text-align: center;
        padding: 0rem 0rem 1rem;

        @include tablet {
            padding: 2rem 0rem 1rem;
        }
    }

    &__header {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        padding: 0rem 0rem 0rem;
        background-color: rgba(236, 240, 241, 0.9);
        height: 30px;
    }

    &__header-title {
        font-family: $Lato;
        font-weight: 700;
        vertical-align: middle;
    }

    &__card {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        padding: 0.5rem 0rem 2rem;
        background-color: rgba(236, 240, 241, 0.5);
        height: 30px;
        font-family: $Lato;
    }

    &__date {
        width: 75px;
        text-align: center;
    }

    &__amount {
        width: 60px;
        text-align: center;
    }

    &__cancel {
        width: 25px;
        height: 25px;
    }

    &__modal-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5rem 0rem 0rem;
    }

    &__modal-title {
        margin: 0% 0% 5%;
    }

    &__modal-content {
        text-align: center;
    }

    &__modal-buttonContainer {
        width: 60%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__modal-button {
        display: flex;
        background-color: $palette9;
        border: none;
        font-family: $Lato;
        font-weight: 700;
        width: 80px;
        height: 35px;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        color: $black;
    }

    &__modal-Cancelbutton {
        display: flex;
        background-color: $palette12;
        border: none;
        font-family: $Lato;
        font-weight: 700;
        width: 80px;
        height: 35px;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        color: $black;
    }
}